.devise
  - if user_signed_in?
    .dropdown
      .btn-group
        %button.btn.btn-inverse
          %i.icon-user.icon-white
          = link_to current_user.name, user_path(current_user)
        %button.btn.btn-inverse.dropdown-toggle{"data-toggle" => "dropdown"}
          %b.caret
        %ul.dropdown-menu
          %li{"data-toggle" => "modal", "href" => "#bugreportmodal"}= link_to "<i class='icon-exclamation-sign'></i>".html_safe + "report bug"
          %li.divider
          %li= link_to "<i class='icon-cog'></i>".html_safe + "settings", send("edit_#{current_user.role}_path", current_user)
          %li.divider
          %li= link_to "<i class='icon-share'></i>".html_safe + "sign out", destroy_user_session_path, :method => 'delete'
  - else
    = link_to "sign in", new_user_session_path, :class => "btn btn-inverse"
