.section
  - if @tasks.empty?
    %h3.indent There are no items in your todo list. Congratulations.
  - else
    %h3 My Open tasks
    %table.table.table-bordered.table-condensed
      %thead
        %tr
          %th title
          %th description
          %th created by
          %th age
      %tbody
        - @tasks.sort{|m,n| n.created_at <=> m.created_at}.each do |wi|
          %tr
            %td= link_to wi.title, wi
            %td= truncate(wi.description, length: 40, separator: ' ')
            %td= wi.creator.name
            %td= wi.created_at.strftime("%Y-%m-%d %H:%M:%S")
%hr
.section
  - unless @completed_tasks.empty?
    %h3 My Past tasks
    %table.table.table-bordered.table-condensed
      %thead
        %tr
          %th title
          %th description
          %th created by
          %th age
      %tbody
        - @completed_tasks.sort{|m,n| n.created_at <=> m.created_at}.each do |wi|
          %tr
            %td= link_to wi.title, wi
            %td= truncate(wi.description, length: 40, separator: ' ')
            %td= wi.creator.name
            %td= wi.created_at.strftime("%Y-%m-%d %H:%M:%S")
