= form_for user, :html => { :multipart => true, :class => 'form-horizontal' } do |f|
  - if user.errors.any?
    .notifications
      - user.errors.each do |name, msg|
        %div.alert.fade.in{ "data-alert" => "alert", :class => to_twitter_type(:error) }
          %a.close{ :href => "#" } x
          = "#{name} #{msg}"

  .well
    %fieldset
      %legend Change Password
      = bootstrapped_field(f, f.object, :password_field, :password)
      = bootstrapped_field(f, f.object, :password_field, :password_confirmation)

  = f.submit "Change Password", :class => "btn btn-primary"

