= form_for @task, :html => { :class => 'form-horizontal', :id => 'task-form' } do |f|
  - if @task.errors.any?
    .notifications
      - @task.errors.each do |name, msg|
        %div.alert.fade.in{ "data-alert" => "alert", :class => to_twitter_type(:error) }
          %a.close{ "data-dismiss" => "alert", :href => "#" } x
          = "#{name} #{msg}"

  .well
    %fieldset
      %legend Basic Information
      = bootstrapped_field(f, @task, :text_field, :title)
      = bootstrapped_field(f, @task, :text_area, :description, :size => "70x10")
      = bootstrapped_field(f, @task, :text_field, :due_date, "data-datepicker" => 'datepicker')

  .well
    %fieldset
      %legend Assignment Information
      .control-group
        = f.label :creator, :class => 'control-label'
        .controls
          -# disabled field is just so the user can see the value being assigned, disabled fields don't get sent in params hash
          = f.select :creator, options_for_select([[current_user.name, current_user.id]], 1), {}, :disabled => true
          = f.hidden_field :creator, :value => current_user.id

      .control-group
        = f.label :assignee, :class => 'control-label'
        .controls
          -if @task.assignee.nil?
            = f.select :assignee, options_from_collection_for_select(@users, :id, :name), :prompt => "Select assignee...", :class => 'assignee-select'
          -else
            = f.select :assignee, options_from_collection_for_select(@users, :id, :name, @task.assignee.id), :prompt => "Select assignee...", :class => 'assignee-select'

  = f.submit "Submit Changes", :class => "btn btn-primary"
  = f.submit "Cancel", :class => "btn"
